.nav-button {
  position: relative;
  margin: 1rem;
  width: 100px;
  height: 50px;
  background: #000;
  color: #4D78D8;
  border-radius: 5px;
  overflow: hidden;
  transition: .5s;
}

.nav-button h3 {
  margin: 0;
  text-align: center;
  line-height: 50px;
}

.nav-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px #fff
}

.nav-button:hover h3 {
  /*text-shadow: 1px 1px 1px #fff;*/
}



.button-selected {
  background: #fff;
}