.error-page {
  margin: auto;
  width: 350px;
}

.card-container .error-page {
  margin-top: 2rem;
  grid-column: 1/3;
}

.error {
  overflow: hidden;
  width: 350px;
  margin: auto;
  position: relative;
  text-transform: uppercase;
  color: #ADD8E6;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}

.error:before, .error:after {
  content: 'CONNECTION LOST...';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #000;
}

.error:before {
  animation: glitch 1.5s linear infinite;
  -webkit-animation-name: glitch;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  left: 8px;
  text-shadow: 2px 0 #ADD8E6;
}

.error:after {
  
  animation: glitch 2s linear infinite;
  
  -webkit-animation-name: glitch;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  left: 4px;
  text-shadow: -2px 0 #FE3A7F;
}

@keyframes glitch {
  0% {
    clip: rect(10px, 350px, 11px, 0);
  }
  5% {
    clip: rect(10px, 351px, 11px, 0);
  }
  10% {
    clip: rect(25px, 351px, 25px, 0);
  }
  15% {
    clip: rect(33px, 351px, 34px, 0);
  }
  20% {
    clip: rect(33px, 351px, 34px, 0);
  }
  25% {
    clip: rect(24px, 351px, 25px, 0);
  }
  30% {
    clip: rect(21px, 351px, 22px, 0);
  }
  35% {
    clip: rect(21px, 351px, 22px, 0);
  }
  40% {
    clip: rect(21px, 351px, 30px, 0);
  }
  45% {
    clip: rect(12px, 351px, 13px, 0);
  }
  50% {
    clip: rect(12px, 351px, 13px, 0);
  }
  55% {
    clip: rect(12px, 351px, 13px, 0);
  }
  60% {
    clip: rect(22px, 351px, 23px, 0);
  }
  65% {
    clip: rect(22px, 351px, 23px, 0);
  }
  70% {
    clip: rect(22px, 351px, 23px, 0);
  }
  75% {
    clip: rect(14px, 351px, 15px, 0);
  }
  80% {
    clip: rect(14px, 351px, 15px, 0);
  }
  85% {
    clip: rect(14px, 351px, 20px, 0);
  }
  90% {
    clip: rect(24px, 351px, 25px, 0);
  }
  95% {
    clip: rect(24px, 351px, 25px, 0);
  }
  100% {
    clip: rect(35px, 351px, 36px, 0);
  }
}

@-webkit-keyframes glitch {
  0% {
    clip: rect(50px, 351px, 51px, 0);
  }
  5% {
    clip: rect(50px, 351px, 51px, 0);
  }
  10% {
    clip: rect(75px, 351px, 76px, 0);
  }
  15% {
    clip: rect(75px, 351px, 76px, 0);
  }
  20% {
    clip: rect(75px, 351px, 76px, 0);
  }
  25% {
    clip: rect(91px, 351px, 92px, 0);
  }
  30% {
    clip: rect(91px, 351px, 92px, 0);
  }
  35% {
    clip: rect(50px, 351px, 51px, 0);
  }
  40% {
    clip: rect(50px, 351px, 51px, 0);
  }
  45% {
    clip: rect(50px, 351px, 51px, 0);
  }
  50% {
    clip: rect(12px, 351px, 13px, 0);
  }
  55% {
    clip: rect(12px, 351px, 13px, 0);
  }
  60% {
    clip: rect(1px, 351px, 2px, 0);
  }
  65% {
    clip: rect(1px, 351px, 2px, 0);
  }
  70% {
    clip: rect(50px, 351px, 51px, 0);
  }
  75% {
    clip: rect(66px, 351px, 65px, 0);
  }
  80% {
    clip: rect(66px, 351px, 65px, 0);
  }
  85% {
    clip: rect(66px, 351px, 65px, 0);
  }
  90% {
    clip: rect(15px, 351px, 51px, 0);
  }
  95% {
    clip: rect(15px, 351px, 16px, 0);
  }
  100% {
    clip: rect(15px, 351px, 16px, 0);
  }
}