.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1200px;
  margin: auto;
}

@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 900px;
  }
}

@media (max-width: 900px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    width: 600px;
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
    width: 300px;
  }
}