.App {
  display: grid;
  color: #fff;
  background: #000;
}

.button-section {
  display: flex;
  height: 100px;
}

.category {
  text-align: center;
  color: #000;
  margin-bottom: 0;
  font-size: 1.7reme}

header {
  position: relative;
  height: 100px;
  margin: 0;
}

.button-wrapper {
  position: absolute;
  top: 40px;
  left: -400px;
  transition: .5s;
}

.deploy-buttons {
  left: 100px;
}

.content-wrapper {
  background: rgba(0, 0, 0, .5);
  width: 90%;
  margin: 2rem auto;
  border-radius: 10px;
}

.please-login {
  position: absolute;
  color: #ADD8E6;
  left: -300px;
  width: 275px;
  font-size: 12px;
  top: 28px;
  transition: .3s;
  font-family: Andale Mono,AndaleMono,monospace;
}

.display-login {
  left: 105px;
}