.App {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100vh;
  color: #fff;
  background: #000;
}

aside {
  background-color: #000;
  width: 400px;
}

.crawl-box {
  width: 400px;
}

.button-section {
  display: flex;
  justify-content: center;
}

.category {
  text-align: center;
  color: #000;
  margin-bottom: 0;
  font-size: 1.7reme}

main {
  background: url('./images/13_Luke_Skywalker.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content-wrapper {
  background: rgba(0, 0, 0, .5);
  width: 90%;
  margin: 2rem auto;
  border-radius: 10px;
}