.card {
  width: 200px;
  height: 300px;
  margin: 1rem;
  border-radius: 10px;
  position: relative;
  margin: 10rem auto 0;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
  background: #000;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 70px;
}

.favorite-toggle {
  background: url(./images/rebel-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: auto;
  padding: 5px;
  border-radius: 50%;
}

.favorite-toggle:hover {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  cursor: pointer;
}

.favorited {
  background: url(./images/rebel-selected.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

article p {
  margin: 0;
  padding: .7rem 1rem 0;
  font-size: 13px;
}

.card-header h2 {
  font-size: 18px;
  margin: 0;
  padding-left: 1rem;
}

.card-stats {
  background: #192973;
  height: 230px;
  margin-top: 0;
}

.front img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.front,
.back {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: .5s;
  position: absolute;
}

.front {
  transform: perspective(600px) rotateX(0deg); 
}

.back {
  background: #000;
  transform: perspective(600px) rotateX(180deg);
}

.card:hover .front {
  transform: rotateX(-180deg); 
}

.card:hover .back {
  transform: rotateX(0deg); 
}